
<div class="container">
  <div class="top-bar"></div>
  <img src="assets/logo.png" class="logo" />
  <div class="content">
    <h1>Project Discontinued</h1>
    <p>
      Hi all.

      As of the 24st of June 2018, Grimoire has been discontinued.
      I no longer have the time or funds to keep maintaining this project.
    </p>

    <p>
      You can still find the source code over <a href="https://github.com/BeMacized/Grimoire">here</a> and <a href="https://github.com/BeMacized/GrimoireWeb">here</a>.
    </p>

    <p>
      In case you are looking for an alternative, I can fully recommend switching to <a href="https://github.com/bra1n">bra1n's</a>&nbsp;<a href="https://github.com/bra1n/judgebot">JudgeBot</a>.
      It covers most of the functionality Grimoire used to provide, and more.
    </p>

    <p>
      Many thanks to all the people who supported me and this project, with special thanks to <a href="https://twitter.com/LightRodAU">@LightRod</a> for putting up with my many mtg related questions.
    </p>

    <p>
      ~ BeMac
    </p>
  </div>
</div>
