{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "rules": {
    "flowtype/boolean-style": [2, "boolean"],
    "flowtype/define-flow-type": 1,
    "flowtype/delimiter-dangle": [2, "never"],
    "flowtype/generic-spacing": [2, "never"],
    "flowtype/no-primitive-constructor-types": 2,
    "flowtype/object-type-delimiter": [2, "comma"],
    "flowtype/require-parameter-type": 0,
    "flowtype/require-return-type": 0,
    "flowtype/require-valid-file-annotation": 0,
    "flowtype/semi": [2, "always"],
    "flowtype/space-after-type-colon": [2, "always"],
    "flowtype/space-before-generic-bracket": [2, "never"],
    "flowtype/space-before-type-colon": [2, "never"],
    "flowtype/union-intersection-spacing": [2, "always"],
    "flowtype/use-flow-type": 2,
    "flowtype/valid-syntax": 2,
    "arrow-parens": ["off"],
    "comma-dangle": "off",
    "generator-star-spacing": "off",
    "import/no-unresolved": ["error", {}],
    "no-console": 0,
    "promise/param-names": 2,
    "promise/catch-or-return": 2,
    "promise/no-native": 0,
    "flowtype-errors/show-errors": 2,
    "no-plusplus": "off",
    "max-len": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off"
  },
  "plugins": [
    "flowtype",
    "flowtype-errors",
    "import",
    "promise"
  ]
}
