### Java
*.class
*.log
.mtj.tmp/
*.jar
hs_err_pid*

### IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
/out/

### Gradle
.gradle
/build/
gradle-app.setting
.gradletasknamecache
!gradle-wrapper.jar

### Docker
docker-compose.yml

### Miscellaneous
mongodata/
execscripts/
dependency_cache/
/src/main/java/Exec.java