#NPM
node_modules
.npm
npm-debug.log

#Flow
flow-typed/

#IntelliJ
.idea/

#Vim
*~
*.swp
*.swo

#Config file
config.json
config_test.json

#Transpiler output
dist/

#Mocha output
report.xml

#ESLint output
eslint.xml

#Visual Studio Code
.vscode
